﻿.loaderOverlay {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    min-height: 1350px;
}

.dialog-loading-wrapper {
    background: white;
    border: 0 none;
    height: 35px;
    position: fixed;
    top: 50%;
    margin-top: -50px;
    width: 350px;
    /*display: table;*/
    z-index: 9999999;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    left: 0;
    margin-left: auto;
    right: 0;
    margin-right: auto;
}

.dialog-loading-icon {
    background-color: #FFFFFF !important;
    border-radius: 13px;
    display: block;
    height: 100px;
    line-height: 100px;
    margin: 0;
    padding: 1px;
    text-align: center;
    width: 100px;
}

#loaderIcon {
    position: relative;
    height: 35px;
    width: 35px;
    float: left;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: 0px 3px;
}

#circularG {
    position: relative;
    width: 65px;
    height: 35px;
    float: left;
}

#loaderMessage {
    position: relative;
    height: 35px;
    min-width: 75px;
    float: left;
    line-height: 35px;
}

.circularG {
    position: absolute;
    /*background-color: #FAF7FA;*/
    background-color: #000000;
    width: 19px;
    height: 19px;
    border-radius: 13px;
    animation-name: bounce_circularG;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    -webkit-border-radius: 13px;
    -webkit-animation-name: bounce_circularG;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: none;
    -webkit-animation-play-state: running;
    -o-border-radius: 13px;
    -o-animation-name: bounce_circularG;
    -o-animation-duration: .5s;
    -o-animation-timing-function: ease-out;
    -o-animation-delay: 0;
    -o-animation-direction: alternate;
    -o-animation-iteration-count: infinite;
    -o-animation-fill-mode: none;
    -o-animation-play-state: running;
    -ms-border-radius: 13px;
    -ms-animation-name: bounce_circularG;
    -ms-animation-duration: .5s;
    -ms-animation-timing-function: ease-out;
    -ms-animation-delay: 0;
    -ms-animation-direction: alternate;
    -ms-animation-iteration-count: infinite;
    -ms-animation-fill-mode: none;
    -ms-animation-play-state: running;
    -moz-border-radius: 13px;
    -moz-animation-name: bounce_circularG;
    -moz-animation-duration: .5s;
    -moz-animation-timing-function: ease-out;
    -moz-animation-delay: 0;
    -moz-animation-direction: alternate;
    -moz-animation-iteration-count: infinite;
    -moz-animation-fill-mode: none;
    -moz-animation-play-state: running;
}

#circularG_1 {
    left: 0;
    top: 8px;
    animation-delay: 0.10s;
    -webkit-animation-delay: 0.10s;
    -o-animation-delay: 0.10s;
    -ms-animation-delay: 0.10s;
    -moz-animation-delay: 0.10s;
}

#circularG_2 {
    left: 20px;
    top: 8px;
    animation-delay: 0.20s;
    -webkit-animation-delay: 0.20s;
    -o-animation-delay: 0.20s;
    -ms-animation-delay: 0.20s;
    -moz-animation-delay: 0.20s;
}

#circularG_3 {
    left: 40px;
    top: 8px;
    animation-delay: 0.30s;
    -webkit-animation-delay: 0.30s;
    -o-animation-delay: 0.30s;
    -ms-animation-delay: 0.30s;
    -moz-animation-delay: 0.30s;
}


@keyframes bounce_circularG {
    0% {
        transform: scale(1);
    }

    50% {
    }

    100% {
        transform: scale(.3);
    }
}
@-webkit-keyframes bounce_circularG {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
    }

    100% {
        -webkit-transform: scale(.3);
    }
}
@-o-keyframes bounce_circularG {
    0% {
        -o-transform: scale(1);
    }

    50% {
    }

    100% {
        -o-transform: scale(.3);
    }
}
@-ms-keyframes bounce_circularG {
    0% {
        -ms-transform: scale(1);
    }

    50% {
    }

    100% {
        -ms-transform: scale(.3);
    }
}
@-moz-keyframes bounce_circularG {
    0% {
        -moz-transform: scale(1);
    }

    50% {
    }

    100% {
        -moz-transform: scale(.3);
    }
}