.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.container:after,
.row:after {
  clear: both;
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.color-green{
  color: #004538;
}

.sign-up-color,
.sign-up-color span,
.sign-up-color .Select-arrow-zone .Select-arrow,
.sign-up-color .Select-placeholder{
  color: #004538;
}

.text-center{
    text-align: center;
}

.popup-head{
  font-family: "Open Sans";
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.custom-head {
    font-size: 16px;
    margin: 40px auto;
    position: relative;
    font-family: "Open Sans";
    display: inline-block;
    padding: 0 15px;
    font-weight: 400;
}

.custom-head:before {
    display: block;
    border-top: 1px solid #004538;
    content: "";
    width: 100px;
    position: absolute;
    top: 8px;
    right: 100%;
}

.custom-head:after {
    display: block;
    border-top: 1px solid #004538;
    content: "";
    width: 100px;
    position: absolute;
    top: 8px;
    left: 100%;
}

.input-section{
  margin: 50px 175px;
  vertical-align: middle;
  color: #004538;
  font-family: "Open Sans";
}

.input-section div{
  line-height: 30px;
}

.input-section .text-color tr td{
  color: #004538 !important;
}

.input-section .text-color div {
  line-height: 10px;
}

.border-color{
    border-color: #004538 !important;
    color: #004538 !important;
}

.border-color div:first-child{
    border-color: #004538 !important;
}

.border-color hr{
    border-color: #004538 !important;
}

.border-color label {
  border-color: #618b84 !important;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #004538 !important;
}

/*language select option/-START-/*/

.language-option-area{
    height: 35px;
    margin-top: 20px;
  display: flex;
}

.language-option-area label{
    font-size: 13px;
    padding-left: 0px;
    font-family: "Open Sans";
}

.task-popup-area-for-sign-up{
  margin-top: 0;
  margin-bottom: 30px;
  width: 710px;
  height: 360px !important;
  min-height: 230px;
}

.language-radio-button-area{
    margin-top: 5px;
}

/*language select option /-END-/*/

.btn{
  border: 1px solid #618b84 !important;
  margin-top: 10px !important;
  margin-right: 5px !important;
  font-size: 13px !important;
  color: #004538 !important;
  text-align: center;
  background-color: #ffffff !important;
  line-height: 30px !important;
  height: 30px;
  min-width: 72px;
  font-family: "Open Sans" !important;
}

.btn span {
  font-family: "Open Sans" !important;
}

.btn:hover{
  background-color: #f5f5f5 !important;
}

.font-thirteen{
  font-size: 13px !important;
}

.top-ten{
  margin-top: 10px;
}

.width-full{
  width: 100%;
}

svg{
  fill: #004538 !important;
}