/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

/*@font-face {

    src: url('fonts/Calibri.eot?#iefix') format('embedded-opentype'),  url('fonts/Calibri.woff') format('woff'), url('fonts/Calibri.ttf')  format('truetype'), url('fonts/Calibri.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;

}

body {
    line-height: 1.2;
    font-family: "Roboto", Arial, "Arial Black", Verdana;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*---------------------End of Reset style-----------------------*/



.fix {
    clear: both;
    overflow:hidden;
}
#container {

    font-size: 0.812em;
}
.bg-color {
    background-color:#f2f2f2;

}

#header_area {
    border: 1px solid #cecece;
    height: 54px;
    border-right-width:0;
    border-left-width:0;

}

#menu_area {
    height: 54px;
}

.s_h_button {
    clear: both;
    float: right;
    height: 30px;
    overflow: hidden;
    position: absolute;
    top: 8px;
    cursor:pointer;
}
#use-person {
    width: 45px;
    right: 45px;
    background: #00483a url("images/user-person.png") no-repeat scroll center center;
}

#switch {
    right: 0;
    width: 45px;
    background: transparent url("images/cog-icon.png") no-repeat scroll center center;
}

.menu_bar > p {

    color: #115447;
    display: block;
    float: left;
    font-size: 18px;
    height: 30px;
    line-height: 18px;
    margin: 10px 0;
    padding: 4px 10px 0;
}

.header_content input{
    border: medium none;
    border-left: 1px solid #cecece;
    color: #4b4b4b;
    background-color: #ffffff;
    font-size: 14px;
    padding: 8px;

}

#slt_city {
    width: 210px;
}

.header_content {
    border: 1px solid #cecece;
    padding: 0 40px;
    cursor: pointer;
    position:relative;
    float:left;
    margin: 10px 0;
}

.select_city {
    width: 220px;
    background: #fff url("images/combobox.png") no-repeat scroll 10px 50%;
}
.select_calendar {
    margin-left: 10px;
    width: 177px;
    background:#fff url("images/calendar.png") no-repeat scroll 10px 50%;
}

.slt_arrow {
    position: absolute;
    right: 12px;
    top: 13px;
}

.menu_single {
    border-right: 1px solid #cecece;
    color: #00483a;
    cursor: pointer;
    float: left;
    height: 54px;
}

.menu_single:last-child {
    border-right-width: 0px;
    padding-right:5px;
}


.menu_single:hover {
    background-color:#f2f2f2;
}
.menu_single a:hover {
    color:#1b1b1b;
}
.menu_single:last-child:hover {
    border-right: 1px solid #cecece;
}
.menu_bar {
    width: 545px;
    float: left;
}
.header_top {
    float: left;
    width: 600px
}

#main-content {
    display: block;
    padding-top: 0px;
    position:relative;
}
.home-return {
    clear: both;
    display: block;
    left: 20px;
    line-height: 22px;
    overflow: hidden;
    padding: 8px 0;
}
.rr-home {
    float:left;
    cursor:pointer;
    padding: 0;
    height:20px;
}
.rr-home span {
    font-size:18px;
    color: #6d6c6c;
    font-weight:normal;
}
.home-images {
    background: transparent url("images/home.png") no-repeat scroll 10px center;
    padding-left: 10px;
    width: 30px;
}
.hLogin {
    line-height: 20px;
    color: #6d6c6c;
    font-size:14px;
}
.hBack {
    color: #00483a;
    font-size: 20px;
    font-weight: 600;
}
.main-content-view {
    width:1024px;
    margin:0 auto;
}
.main-content {
    margin:0 auto;
}
#main-content-area {

}

table tr td{
    vertical-align: middle;
}

#Top-Area {
    float: left;
    width: 100%;
}

h1.info-title{
    color: #11453a;

    font-size: 34px;
    font-weight: 600;
    line-height:54px;
}
.info-measure {
    line-height:25px;
}
.info-left-content {
    float:left;
}
.vacant {
    float:left;
    display: block;
    padding:0 5px 0 0;
}
.info-left-content .info-vac {
    float:left;
}
.info-right-content .info-vac {
    float:right;
}

.vac-color {
    color: #9a9a9a !important;
}
.vacant .info-vac {
    padding:0;
}

.info-vac {
    float: left;
    font-weight: bold;
    padding:0 2px 0 15px;
    color:#767676;
    font-size:14px;
    cursor:pointer;
    margin-left: 2px;
}

#info_area  a, .info-measure{

    text-decoration: none;
    font-size: 14px;
    color: #7c7c7c;
}

#slt_calendar {
    color: #989898 !important;
    cursor: pointer !important;
    padding: 7px;
    width: 180px;
}

.menu_single ul {
    background: #fff none repeat scroll 0 0;
    padding: 0;
    position: absolute;
    z-index: 1000;
    visibility:hidden;
    top:55px;
}

.menu_single ul li {
    background: #ffffff url("images/tracking.png") no-repeat scroll 8px center;
    border: 1px solid #cecece;
    list-style: outside none none;
    margin: 0;
    padding: 7px 5px 7px 30px;
    min-width:130px;
    border-bottom-width:0;
    background-image:none;
    position:relative;
}
.menu_single ul li a {
    color:#00483a;
    padding: 3px 10px;
    text-decoration: none;
}
.menu_single:hover > ul {
    visibility:visible;
    display:block;
}
.menu_single ul ul{
    top:0px;
    left:100%;
}
.menu_single ul li:hover ul {
    visibility:visible;
    display:block;
}
.menu_single ul li:last-child {
    border-bottom: 1px solid #cecece;
}
.menu_single ul li:hover {
    background-color:#F7F7F7;
}

.menu_single .app-trac-logo {
    background-image: url("images/tracking.png");
    padding-left: 25px !important;
}
.menu_single .app-exec {
    background-image: url("images/exec.png");
    padding-left: 25px !important;
}
.menu_single .app-lease-ab {
    background-image: url("images/abstractor-s.png");
    padding-left: 25px !important;
}
.menu_single .app-bsom-s {
    background-image: url("images/bsom-s.png");
    padding-left: 25px !important;
}
.menu_single .app-match {
    background-image: url("images/match.png");
    padding-left: 25px !important;
}
.menu_single .app-owe-s {
    background-image: url("images/owe.png");
    padding-left: 25px !important;
}
.menu_single .app-leaseflow {
    background-image: url("images/leaseflow.png");
    padding-left: 25px !important;
}
.app-trac-logo:hover {
    background-image: url("images/tracking-hover.png");
    padding-left: 25px !important;
}
.app-exec:hover {
    background-image: url("images/exec-hover.png");
    padding-left: 25px !important;
}
.app-lease-ab:hover {
    background-image: url("images/abstractor-s-hover.png");
    padding-left: 25px !important;
}
.app-bsom-s:hover {
    background-image: url("images/bsom-s-hover.png");
    padding-left: 25px !important;
}
.app-match:hover {
    background-image: url("images/match-hover.png");
    padding-left: 25px !important;
}
.app-owe-s:hover {
    background-image: url("images/owe-hover.png");
    padding-left: 25px !important;
}
.app-leaseflow:hover {
    background-image: url("images/leaseflow-hover.png");
    padding-left: 25px !important;
}



#content_area {
    width:350px;
    margin:0 auto;
}

#app_content_area {
    margin: 0 auto;
    width: 665px;
}

#logo {
    display: block;
    margin-top: 12%;
    padding: 30px 0;
    text-align: center;
}
#app_content_area #logo {
    margin-top: 0;
}
#content-area-content {
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    font-weight: 300;
    padding: 0 20px 0 30px;
}
#content-area-content label {
    color: #929292;
    display: block;
    font-size: 40px;
    padding: 40px 0;
    text-align: center;

    font-weight:300;
}
.app-select {
    clear: both;
    overflow: hidden;
    padding: 0 25px 50px 15px;
}
.apps {
    background: #ffffff url("images/mockup-2-tracking-hover.png") no-repeat scroll 15px center;
    border: 1px solid #cecece;
    color: #00483a;
    float: left;
    cursor: pointer;

    font-size: 16px;
    margin: 5px;
    padding: 15px 14px 15px 50px;
    width: 210px;
    font-weight: 600;
}
.trac-logo {
    background-image: url("images/mockup-2-tracking-hover.png");
}
.exec {
    background-image: url("images/exec.png");
}
.lease-ab {
    background-image: url("images/abstractor-s.png");
}
.bsom-s {
    background-image: url("images/bsom-s.png");
}
.match {
    background-image: url("images/match.png");
}
.owe-s {
    background-image: url("images/owe.png");
}
.leaseflow {
    background-image: url("images/leaseflow.png");
}
.apps:hover {
    color: #1b1b1b;
}

.trac-logo:hover {
    background-image: url("images/mockup-2-tracking-hover.png");
}
.exec:hover {
    background-image: url("images/exec-hover.png");
}
.lease-ab:hover {
    background-image: url("images/abstractor-s-hover.png");
}
.bsom-s:hover {
    background-image: url("images/bsom-s-hover.png");
}
.match:hover {
    background-image: url("images/match-hover.png");
}
.owe-s:hover {
    background-image: url("images/owe-hover.png");
}
.leaseflow:hover {
    background-image: url("images/leaseflow-hover.png");
}
.app-footer-content {
    padding:20px 0px;
    clear:both;
    overflow:hidden;
}
.app-left {
    width:300px;
    float:left;
}
.app-right {
    width:360px;
    float:right;
    text-align: right;
}
.app-right ul {
    list-style-type:none;
}
.app-right ul li {
    display: inline-block;
    margin: 0 10px;
    text-align: right;
}
.app-right ul li a {
    color: #9c9c9c;
    padding: 3px 0;
    text-decoration: none;
}
.app-right ul li a:hover {
    color:#1b1b1b;
}

#content-area-content input {
    border: 1px solid #cecece;
    color: #545454;
    display: block;
    margin-bottom: 10px;
    padding: 10px 12px;
    width: 272px;
}
#userName {}
#u_password{}
#login-button {}

.login-button p {
    display: block;
    float: left;
}

.login-button a {
    color: #a9a9a9;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
}
.login-button a:hover {
    color: #838383;
    text-decoration: underline;
}
.login-btn {
    background: #ffffff url("images/logo-login.png") no-repeat scroll 13px center;
    border: 1px solid #e2e2e2;
    color: #00483a;
    cursor: pointer;
    float: right;
    font-weight: 600;
    padding: 8px 13px 8px 32px;
    width: 42px;
}
.login-button {
    padding-bottom: 40px;
}
.content-table {
    width:100%;
    border:1px solid #d8d8d8;
    border-bottom-width:0px;
}
.thead {
    background-color: #eee;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #d5d5d5;
    border-bottom-width: 0;
}
.tbl-search {
    border: 1px solid #d8d8d8;
    margin-bottom: 12px;
    padding: 8px;
}

.tbl-search > input {
    padding: 8px 8px 8px 12px;
    webkit-padding:8px 8px 8px 12px;
    moz-webkit-padding:8px 8px 8px 12px;
    width: 140px;
}
.tbl-search > select {
    padding: 8px 8px 8px 12px;
    webkit-padding:8px 8px 8px 12px;
    moz-webkit-padding:8px 8px 8px 12px;
    width: 140px;
}
#city > option,
#suite > option {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    border-bottom: 1px solid #d8d8d8;
    outline:0px;
}

#search {
    background: rgba(0, 0, 0, 0) url("images/search.png") no-repeat scroll 16px center;
    border: 1px solid #ddd;
    cursor: pointer;
    padding: 8px 20px 8px 40px;
    width: 105px;
}
.thead p {

    font-size: 16px;
    font-weight: bold;
}
.tbl-content {
    /*max-height:700px;
    overflow:auto;*/
}
.td-header {
    background: #FFF;
}
.content-table tr {
    border-bottom: 1px solid #d5d5d5;
}
.content-table tr.td-header td{
    padding: 10px 0 10px 15px;
    font-size: 14px !important;
    font-weight: 700;
}
.content-table tr td.tbl_edit {
    padding: 10px 10px 0 0 !important;
    width: 22px !important;
}
.content-table tr td{
    padding:10px 7px 10px 15px;
    margin:0;
    position:relative;
    vertical-align: top;

    font-size: 14px;
}

.content-table tr td:first-child{
    padding-left:15px;
    /*width: 40px;*/
}
.content-table tr.td-search td:first-child{
    /*width:50px;*/
}
.tbl_even_row {
    background-color:#ffffff;
}
.tbl_odd_row {
    background-color:#f8f8f8;
}
.tbl_stage {
    background-color: #e3e4e4;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    height: 30px;
    position: relative;
    top: 0;
    width: 30px;
}
.tbl_lease_info p:first-child,
.tbl_last_update p:last-child {
    font-size: 13px;
    font-weight: 600;
}
.tbl_lease_info p:last-child,
.tbl_last_update p:first-child {
    color:#acacac;
}
.s-table .tbl_even_row td:last-child,
.s-table .tbl_odd_row td:last-child {
    border-left:0px solid #d5d5d5;
}

.tbl_even_row td:last-child,
.tbl_odd_row td:last-child {
    border-left:0px solid #d5d5d5;
}

.table-counter {
    border:1px solid #d5d5d5;
}

.table-counter > p {

    font-weight: bold;
    padding: 10px 0 10px 20px;
    font-size:12px;
    line-height:30px;
}

.three-column {
    margin: 0 0 20px;
}
.one-third-content {

}
.one-third {
    border: 1px solid #ddd;
    float: left;
    margin-right: 21px;
    min-height: 310px;
    width: 325px;
}
.one-third:last-child {
    margin-right:0px;
}
.one-third h1 {
    background-color: #e3e3e4;
    display: block;

    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 12px;
    color: #115447;
}
.rep-padding {
    padding: 0 15px;
}
.left-content {

    float: left;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    width: 155px;
    color:#5f5f5f;
}
.right-content {

    float: right;
    text-align: left;
    width: 140px;
    line-height: 22px;
    color:#5f5f5f;
}
.rows-col {
    margin-bottom: 20px;
}

.abs-on-half {
    border: 1px solid #dadada;
    float: left;
    margin-right: 10px;
    width: 500px;
}
.leas-cnt .left-content {
    width: 50px;
}

.leas-cnt .right-content {
    text-align: justify;
    width: 400px;
    color: #5f5f5f;
    float: right;

    line-height: 22px;
}
.leas-content {
    height: 550px;
    overflow: auto;
    padding: 15px;
}

.left-content-i {
    float: left;
    width: 60px;
}

.right-content-i {
    float: right;
    width: 335px;
}

.leas-cnt span {
    color: #ff7200;
}
.rows-col > h1{
    background-color: #e3e3e4;
    padding: 13px 20px;
    color:#115447;
}

.four-column-content {
    border: 1px solid #d8d8d8;
}
.one-four {
    float: left;
    width: 240px;
    padding-right: 7px;
}
.one-four:last-child {
    padding-right: 0px;
}
.one-four > p {

    font-weight:bold;
    color: #545454;
    display: block;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
}

.one-four label {
    line-height: 22px;
    font-size:14px;

}

.by-acc > input,
.data-acc > input {
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:1px solid #a9a9a9;
    float: right;
    width: 135px;

    font-weight:light;
}
.third-column {
    margin-bottom: 20px;
}
.col-border {
    border:1px solid #ddd;
    padding: 20px;
}
.third-column-content {
    border:1px solid #ddd;
    padding: 20px;
}
.one-third-suite {
    float: left;
    margin-right: 6px;
    width: 322px;
}
.one-third-suite:last-child {
    margin-right:0px;
}
.current-crg {
    width: 245px;
    padding-right: 0px;
}
.current-crg:last-child {
    float:right;
}
.current-crg label {
    color: #545454;
    display: block;
    padding-bottom: 10px;
}
.crg {
    float: left;
    width: 50%;
}

.current-crg input {
    display: block;
    width: 113px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:1px solid #a9a9a9;

    font-weight:light;
}

.crg.crg-ren-amount > input {
    float: right;
    width: 118px;
}

.tenant-deposits {
    width: 190px;
}
.tenant-deposits label {
    display: block;
    color: #545454;
}
.tenant-deposits input,
.lease-cost input {
    display: block;
    width: 183px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:1px solid #a9a9a9;

    font-weight:light;
}
.tenant-deposits:last-child  input {
    float: right;
    width: 187px;
}
.lease-note  p {
    font-size:15px;
}
.lease-note .lease {
    color: #6b6b6b;

    font-size: 13px;
    padding-bottom: 15px;
}
.lease-note .lease:last-child {
    padding-bottom: 0px;
}

.ls-option {
    display: block;
    float: left;
    width: 160px;
}
.by-acc,.data-acc,
.ls-option,
.ls-option > label ,
.ls-cost > label {
    color: #545454;
}
.lease-cost {
    width:240px;
}
.footer-content {
    padding:15px;
    text-align:center;
}

/****************************************/
.menu_bar {
    float: left;
    width: 750px;
}
.main-content-info {
    position:relative;
}
.menu_single > a {
    color: #00483a;

    font-size: 14px;
    line-height: 56px;
    padding: 10px 20px;
    text-decoration: none;
}
.app-logo{
    background:url('images/tracking.png') no-repeat 10px center;
}
.app-logo a {
    padding: 10px 5px 10px 33px;
}
.app-logo:hover{
    background:url('images/tracking-hover.png') no-repeat 10px center;
}
.app-arrow {
    padding-right: 5px;
}
#main-content {
    clear: both;
    display: block;
    overflow: visible;
    padding-top: 0px;
    /*max-height: 610px;*/
    position: relative;
}
#info_area {
    float: left;
    margin-left: 20px;
    margin-right: 250px;
}
.info-content {
    margin-left:10%;
    width:90%
}

.info_right {
    width: 50%;
    float: right;
}

.info-place {
    float:left;
    display:block;
}
#info-left-content {
    clear: both;
    display: block;
}
.info-left-content {
    float:left;
}
.info {
    text-align:right;
}

.info_left {
    width: 50%;
    text-align: left;
    float:left;
}

.info-place {
    background: transparent url("images/location.png") no-repeat scroll 0 center;
    padding-left: 20px;
    cursor:pointer;
}
.info-right-content {
    float: right;
    text-align: right;
}

.year {
    float: left;
    margin-left: 2px;
    padding-left: 0;
    text-align: left;
    text-indent: 2px;
    width: 50px;
    cursor: pointer;
}
.info-year {
    width:12px;
    height:12px;
    position:relative;
    top:7px;
    float:left;
}
.year-color {
    border: 1px solid #fff;
    float: left;
    height: 4px;
    width: 4px;
}
.occ-space-area {
    float: right;
    margin-left: 10px;
    position: absolute;
    right: 5px;
    top: 0px;
    color:#383738;
    width:235px
}

.occ-space {
    border: 1px solid #ececec;
    margin-bottom:10px;
    position: relative;
    width: 233px;
}
.occ-space h1 {
    color: #383738;
    display: block;
    font-size: 14px;
    padding: 10px 20px 10px 10px;
}
.occ-space h2 {
    height: 12px;
    position: absolute;
    right:10px;
    top: 10px;
    width: 25px;
    cursor:pointer;
}
.occ-space h2.expand {
    background: rgba(0, 0, 0, 0) url("images/expand-arrow.png") no-repeat scroll center center;
    display: none;
}
.occ-space h2.remove {
    background: rgba(0, 0, 0, 0) url("images/remove-arrow.png") no-repeat scroll center center;

}
.occ-content {
    font-size: 23px;
    line-height: 40px;
    text-align: center;
}
/*-------------------heater_form_area-------------/*/
.heater_form_area {
    width: 500px;
    margin: 0 auto;
    padding: 12px 15px;
    border: 1px solid #ccc;
}
.heater_form_area h1 { font-size:20px; text-align:center; line-height:35px;}
.heater-info{
    clear:both;
    overflow:hidden;
    margin: 10px 0;
}
.heater_form_area label{
    width: 130px;
    text-align: right;
    padding: 5px 8px;
    display: block;
    float: left;
}
.heater_form_area input, .heater_form_area textarea,.heater_form_area select{
    width:300px;
    -webkit-padding:5px 8px;
    -webkit-padding: 5px 8px;
    -moz-padding: 5px 8px;
    -o-transition: 5px 8px;
    float:right;
    padding:5px 8px;
    border:1px solid #ddd;
}
.heater_checkbox {
    width:318px;
    float:right
}
.heater_form_area select {
    width:318px;
    -moz-width: 318px;
}
.heater_form_area input[type="button"] {
    width: 110px;
    cursor: pointer;
    border-radius:5px;
}
.heater_form_area input[type="radio"] {
    width: 13px;
    float:left;
    padding: 0;
    margin: 3px;
}
.heater_form_area input[type="checkbox"] {
    width: 13px;
    float:left;
    padding: 0;
    margin: 3px;
}
.chkBox-area {
    float: left;
    padding: 1px 0px;
    line-height: 18px;
    margin-right: 5px;
}

.radio-term {
    float: right;
    width: 318px;
    padding: 2px 0;
}
.radio-type {
    float: left;
    width: 50px;
    line-height: 20px;
}
.heater-info h2 {
    text-align: center;
}
.tbl_row_delete {
    float: right;
    padding: 0 30px 0 0;
    cursor: pointer;
}
.ap-form label.thisLabelDisplayNone,
.hidden { display:none; }

.heater-info-after_radio{
    width: 320px;
    float: right;
    line-height: 20px;
    margin: 5px 0;
}
.heater-info-after_radio span{
    float: left;
    display: block;
    width: 30px;
}
.heater-info-after_radio input {
    width: 70px;
    float: left;
    margin: 0 5px;
}
.heater-info-message{
    text-align: center;
    color: red;
    font-weight: bold;
}



.head-title h2{
    padding:2px 5px;
    color:#fff;
    font-weight: 300;
}


.head-titleNew {
    background-color:#e6eef3;
}



.head-titleNew2 > div > h2{
    background-color:#e6eef3;
}

{
    padding:2px 5px;
    color:#252525;
    font-weight: 300;
}
/***********************************************************************************************/

.main-contant {
    min-height: 850px;
    margin:0 auto;
}
.head-title {
    background-color:#e6eef3;
    width: 100%;
}

.head-title h2{
    padding-left: 10px;
    line-height: 50px;
    margin-bottom: 25px;
    font-size: 1.2em;
}

.head-titleNew {
    background-color:#e6eef3;
    width: 100%;
}


.head-titleNew2 {
    background-color:#e6eef3;
    width: 100%;
}


.head-titleNew h2{
    padding: 10px;
    color: #252525;
    height: 35px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 300;
}

.head-titleNew2 > div > h2{
    padding: 2px 5px;
    color: #252525;
    height: 35px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 300;
}

.add-info {
    padding-bottom: 10px;
    clear: both;
    overflow: hidden;
}
.add-info label {
    width: 185px;
    float: left;
    text-align: right;
    color: #5F5F5F;
    padding-right: 12px;
    line-height: 25px;
    height: 25px;
}
.add-info-padding{
    padding-bottom: 0px;
}
.input-info {
    border: 1px solid #D7E1E8;
    float: left;
    width: 540px;
    padding: 3px 10px;
}
.input-info.selected {
    background: transparent url("images/arrow-down.png") no-repeat 98% center;
}
.input-info input{
    width: 94%;
    color:#bbbbbb;
}
.input-infoPara{
    color:#bbbbbb;
}
.input-info textarea {
    width: 100%;
    border:none;
}
.add-info button {
    background: none;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ddd;
}
.add-info .attach {
    border-color: #a7b1c7;
    background: transparent url("images/attached.png") no-repeat 10px center;
}
.add-info .save {
    border-color: #c6e38f;
    background: transparent url("images/save.png") no-repeat 10px center;
}
select, input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 2px 2px 2px;
    border: none;
}

.tbl-content.s-table {
    border: 1px solid #e6eef3;
    margin-bottom: 25px;
}

thead.mui-table-header tr:nth-child(1) {
    background-color: #e6eef3 !important;
}

thead.mui-table-header tr:nth-child(2) {
    background-color: rgba(230,238,243,0.25);
}

th.mui-table-header-column:nth-child(1) {
    display: none;
}

thead.mui-table-header tr:nth-child(1) th {
    color: #252525 !important;
    font-size: 25px !important;
}

thead.mui-table-header tr:nth-child(2) th {
    color: #252525 !important;
    font-size: 18px !important;
    /*font-weight: bold !important;*/
}

tbody.mui-table-body tr td {
    font-size: 15px !important;
}

thead.mui-table-header tr th, tbody.mui-table-body tr td {
    vertical-align: middle;
}

.mui-table-body{
    height: auto !important;
}

td.mui-table-row-column a {
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
}

td.mui-table-row-column a:hover {
    text-decoration: underline;
}

/******************************/

th.mui-table-header-column, td.mui-table-row-column{
    height: 40px !important;
}

td.mui-table-row-column{
    cursor: pointer;
}

thead.mui-table-header tr:nth-child(1) th.mui-table-header-column:last-child {
    /*text-align: right !important;*/
}

thead.mui-table-header tr:nth-child(1) th {
    height: 50px !important;
}

thead.mui-table-header tr:nth-child(2) th {
    height: 30px !important;
}

/* 29-10-2015 By Dipon*/

.main-contant{
    margin-bottom: 50px;
}

.head-title h2{
    margin-bottom: 5px;
}


.head-titleNew h2{
    margin-bottom: 5px;
}

.head-titleNew2 > div > h2{
    margin-bottom: 5px;
}

.header-title-h2{
    padding-left: 10px !important;
}

.header-title-h2-popup{
    padding: 10px !important;
}

.ddl{
    width: 100%;
    font-size: 16px !important;
    line-height: 24px;

    margin-top: 10px;
}

.ddl div:nth-child(1) div:nth-child(3) {
    padding-left: 0px !important;
}

.ddl svg{
    right: 0px !important;
}

.ddl div:nth-child(1) div:nth-child(5) {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.listType{
    margin-top: 30px;
    padding-bottom: 5px;
}

.fileGroup{
    margin-top: 30px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
}

.fileLebel{
    margin-top: 5px;
    margin-right: 5px;
    font-size: 16px !important;
    line-height: 24px;

}

.toggleButton{
    margin-top: 20px;
    margin-bottom: 5px;
    width: 20% !important;
    font-size: 16px !important;
    line-height: 24px;

}

input::-ms-clear{
    display: none !important;
}

.innerTableTd{
    /*padding: 15px;
    border-bottom: 1px solid #e0e0e0;*/
}

.innerTable{
    width: 100%;
    border: 1px solid #e6eef3;
    color: rgba(0, 0, 0, 0.87);
}

.innerTable tr:nth-child(1){
    background-color: #e6eef3 !important;
}

.innerTable tr{
    border: 1px solid #e6eef3;
}

.innerTable tr:nth-child(even){
    background-color: #f1f6f9;
}

.innerTable tr:nth-child(odd){
    background-color: #f1f6f9;
}

.innerTable tr th{
    height: 25px;
    text-align: left;
    padding-bottom: 0;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.innerTable tr td{
    height: 25px;
    padding: 5px;
}

.X1{
    text-align: center !important;
    width: 20px !important;
    padding-right: 0px !important;
}

.X2{
    text-align: left !important;
    padding-left: 0px !important;
    margin-left: -20px !important;
}

.X3{
    text-align: center !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.X3Button{
    margin-left: 50px !important;
}

.X4{
    text-align: center !important;
    width: 60px !important;
}

.XY1{
    width: 20px !important;
    padding-right: 0px !important;
}

.XY2{
    width: 20px !important;
    padding-left: 38px !important;
    padding-right: 10px !important;
}

.XY3{
    width: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.XY1 img, .XY2 img, .XY3 img{
    cursor: pointer;
}

.FlatBtn{
    margin-top: 10px !important;
    margin-right: 5px !important;
}

.btn-border{
    border: 2px solid #a9b7cb !important;
    color: #5b6e97 !important;
    line-height: 30px !important;
}

.btn-border-green{
    border: 2px solid #b7e3c5 !important;
    color: #58bf79 !important;
    line-height: 30px !important;
}

.table-holder {
    clear:both;
    padding-top: 1px;
}

.floatLeft{
    padding: 19px 0px 0px 10px;
    font-size: 22px;
}

.floatRight{
    float: right;
}

.float100centLeft{
    width: 100%;
    height: 60px;
    background-color: #E6EDF3;
}

.rightMostAddButton{
    margin: -28px 11px 0px 0px;
    float:right;
}

/*
#dialogDispatch div div + div{
	padding-top: -100px !important;
	top: -115px !important;
}



#dialogDispatch div div + div div div + div{
	background: transparent !important;
}*/


/*#dialogDispatch div div + div div div{*/
/*transform:translate3d(0px, 0px, 0px) !important;*/
/*}*/

.dropDownLabel{
    font-size: 20px;
    padding: 0 0 0 25px;

}

.innerTableStyle{
    position: relative;
}

.outerDiv{

    height: 550px !important;
}

button div div span{
    text-transform: capitalize !important;
}

.ddl{
    width:100% !important;
}



.ContentBody {
    display: table;
}

.ContentRow  {
    display: table-row;
}

.ContentLeft, .ContentRight, .ContentMiddle {
    display: table-cell;
}

.datePkr{
    width: 48% !important;
    float: left;
    margin-right: 2%;
    margin-top: 1px;
}

.datePkr div:first-child{
    width: 100%;
}

.datePkr ~ div {
    top: -80px !important;
}


.forward-date-pkr{
    /*width: 48% !important;
    float: left;*/
}

.forward-date-pkr input{
    padding-left: 8px !important;
}

.forward-date-pkr label{
    padding-left: 10px !important;
}

.datePickerCancelSchedule{
    width: 100% !important;
    margin-right: 2%;
    margin-top: 1px;
}

.datePickerCancelSchedule div:first-child{
    width: 100%;
}

.datePickerCancelSchedule ~ div {
    top: -80px !important;
}



.timePkr{
    margin-top: 1px;
    height:45px !important;
}

#main-content{
    width: 90%;
    margin-bottom: 50px;
    margin-top: 0px;
    padding-top: 25px;
    display: table;
}


.note.content-table tr.tbl_even_row td p,
.note.content-table tr.tbl_odd_row td p {
    border-radius: 5px;
    color: white;
    font-size: 12px;
    width: 80%;
    text-align: center;
    display: block;
}
#submitted {
    background: rgb(0,175,240) none repeat scroll 0 0;
}

#received {
    background: rgb(185, 29, 29) none repeat scroll 0 0;
}

#inprogress {
    background: rgb(255, 127, 0) none repeat scroll 0 0;
}

#approved {
    background: rgb(127,186,0) none repeat scroll 0 0;
}

.submittedBox {
    background: rgb(0,175,240) none repeat scroll 0 0;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.receivedBox {
    background: rgb(185, 29, 29) none repeat scroll 0 0;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.inprogressBox {
    background: rgb(255, 127, 0) none repeat scroll 0 0;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.approvedBox{
    background: rgb(127,186,0) none repeat scroll 0 0;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

table.note{
    font-family: "Calibri",Verdana !important;
}

table.note th{

    font-size: 15px;
    line-height: 40px;
    font-weight: bolder;
    text-align: left;
    padding-left: 5px;
    color: #545454;
}

table.note td {

    line-height: 30px;
    vertical-align: baseline;
    padding: 0;
    padding-left: 5px;
}

.note tr{
    cursor: pointer;
}

.note td {
    color: #acacac;
    font-size: 14px !important;
}

table caption{
    background-color: #adc7d3;
    color: white;
    height: 40px;
    line-height: 40px;

    font-size: 16px;
    font-weight: bold;
}

.h2Style{
    height: 18px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    line-height: 18px !important;
}

section label{
    /*color: #AAAAAA;*/
}

.lastDiv{
    padding: 0px 0 10px 0px;
    border: 1px solid #e6eef3;
    margin-left: 25px;
    margin-right: 25px;
    /*width: 845px;
     padding-top: 10px;*/
}

.header-title-h2{
    line-height: 35px;
}

.btn-border, .btn-border-green{
    border-width: 1px !important;
}

.menu_single ul li{
    padding: 7px 15px 7px 15px !important;
    min-width: 130px !important;
}


/***************************    NEW TABLE STYLE ***************************************/




.tableOuterDiv{
    border: 1px solid #e6eef3;

}

.NotifTableOuterDiv{
    border: 1px solid #e6eef3;
    height: 680px;
}
.BuildingHeaderArea{
    background: #e6eef3 none repeat scroll 0 0 !important;
    border-bottom: 1px solid #e0e0e0;
    height: 50px;
    width: 100%;
    color: #fff;
}

.LeftTitle{
    float: left;
    font-size: 1.2em;
    line-height: 50px;
    padding-left: 10px;
}

.RightButton{
    float: right;
    padding: 10px 10px 0 0;
}

.NotifTable {
    width: 100%;
}

.NotifTable tr td{
    padding: 5px;
    color:#929292 !important;
}

.NotifTable tr td:first-child {
    padding: 10px 10px 10px 10px;
}

.NotifTable tr td:last-child {
    color:black !important;
}

.NotifTable thead tr {
    background: #F4F8FA !important;
}

.NotifTable tbody {
    min-height: 800px !important;
    font-size: 13px;
}

.NotifTable tr th{
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    padding: 5px;
}

.ChkBoxInTble tr td:first-child{
    padding: 0 0 0 15px !important;
    width: 3% !important;
}

.ChkBoxInTble tr th:first-child{
    padding: 0 0 0 15px !important;
    width: 3% !important;
}


.SmallerFontTable tbody {

}

.NotifTable tr th:first-child{
    padding: 10px 10px 10px 30px;
    width: 5%;
}

.ScheduleLib tr th:first-child{
    padding: 10px 10px 10px 10px;
    width:25% !important;
}

.ScheduleLib tr td:first-child{
    padding: 10px 10px 10px 10px;
    width:25% !important;
}

.NotifTable .formDirectory tr th:first-child{

    width: 60% !important;
}

.NotifTable tr{
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.tableButton{
    border: 1px solid #a9b7cb !important;
    color: #5b6e97 !important;
    line-height: 26px !important;
    font-weight: normal !important;
    font-size: 11px !important;
}

.tableButton > div > span{
    font-weight: normal !important;
    font-size: 11px !important;
}

.PROP{
    width: 93% !important;
}

.tableButton > div > span {
    padding: 0 10px !important;
}


.NotifTable tr td:first-child{
    width: 5%;
}

.NotifTable tr td:nth-child(4){
    width: 5% !important;
}

.NotifTable tr td:nth-child(5){
    width: 9% !important;
}


.NotifTable tr th:nth-child(5){
    width: 9% !important;
    font-size: 17px !important;
    padding:3px !important;
}

.NotifTable .formDirectory tr td:first-child{
    width: 60% !important;
}

.NotifBackColor{
    background: #adc7d3 !important;
}

#use-person{
    display: none;
}

.Select{
    font-size: 16px !important;;
    width:84% ;
}

.NewSelect{
    font-size: 16px !important;;
    width:75% !important;
    margin-top: 8px !important;
}

.SelectHundredPercent{
    width: 100%;
    margin-bottom: 20px;
}

.ScheduleSelectFull{
    width: 100%;
    margin-bottom: -15px !important;
}

.NoMarginSelect100cent{
    width: 100%;
}

.SelectFullWidth{
    margin-bottom: 20px;
    margin-top: 7px;
}

.marginTopBottom{
    margin-bottom: 20px;
}

.ButtonTopBottom{
    margin-top:10px;
    margin-bottom: 10px;
}

.LeftSided{
    float: left;
    padding:0px;
}

.RightSided{
    float: right;
}

.Select-control{
    color: black !important;
    border-image: none;
    border-radius: 0px !important;
    border-style: none none solid !important;
    border-width: 0 0 1px !important;
}

div.head-title + div{
    margin: 0 auto;
    width:703px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

div.FixDispatch + div{
    margin: 0 auto;
    width:100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.minHt350{
    min-height: 330px;
}

.HundredWidth{
    width:100% !important;
}

.MiddleLeftItem{
    margin-top: 10px;
    padding-left: 10px;
}

.dtsAjustmentStyle{

    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.Select-menu{
    max-height: 195px !important;
}

.Select-menu-outer {
    background-color: white !important;
    z-index: 10000 !important;
}

.ActionButtons > button {
    margin-left: 0px !important;
    margin-right: 30px !important;
}


div[title]:hover:after {
    content: attr(title);
    padding: 4px 8px;
    color: #333;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

div.Title:hover{
    color: #ff2283;
    position: relative;
}
div.Title[title]:hover:after{
    content: attr(title);
    padding: 8px 12px;
    color: #85003a;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 20;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 0px 2px #c0c1c2;
    -webkit-box-shadow: 0px 0px 2px #c0c1c2;
    box-shadow: 0px 0px 2px #c0c1c2;
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -ms-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
}

.XY3 div img, .XY2 div img, .XY1 div img{
    opacity: 1 !important;
}

.FullWidthSearchbox{
    width:100% !important;

}
.txtBoxFooter{
    color: #adadad !important;
    /*font-size: 12px;*/
    line-height: 20px;
}

.ScheduleFieldsLabel{
    color: #adadad !important;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 10px;
}

/*************** Styles for new overview tables ******************/

.OverviewTables{
    width:100%;
}

.OverviewTables tr td {
    color: #929292 !important;
    padding: 10px;
}

.OverviewTables tr td:first-child {
    padding: 10px 10px 10px 30px;
}

.OverviewTables thead tr {
    background: #FFF !important;
}

.OverviewTables tbody {
    max-height: 600px !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

.OverviewTables tr th{
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 0px;
}

.OverviewTables tr th:first-child{
    padding: 10px 10px 10px 30px;
    width: 20%;
}

.OverviewTables tr{
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.EquipSelect{
    margin-top: 15px !important;
}

.FullwidthDtp{
    width:100% !important;
}

.MarginLessDdl{
    margin:0 auto !important;
}

.txtLabelMargin{
    display: block;
    margin: 10px 0px 5px 0px !important;
}

.divMargin{
    height:70px;
    margin-top:25px;
}

#ContainerDiv {
    float:left;
    width:100% !important;
}

/********** GRID SYSTEM ***********/
.GridRow{
    float:left;
    min-width:705px !important;
    display: table;
    min-height:50px !important;
}

.RepeatText{
    height: 50px !important;
}

.GridChildRow{
    float: left;
    width:100% !important;
}

.GridCol_1x{
    float: left;
    min-width: 230px !important;
}

.GridCol_2x{
    float: left;
    min-width: 460px !important;
}

.GridCol_3x{
    float: left;
    min-width: 700px !important;
}

.GridCol_half{
    float: left;
    min-width:350px !important;
}

.MarginTop15px{
    margin-top: 15px;
}

.MarginBottom15{
    margin-bottom:15px;
}

.LineBreak{
    height:15px;
}
/********** GRID SYSTEM ***********/

#FirstColumn {
    float:left;
    width:49% !important;
}
#SecondColumn{
    float:left;
    width:49% !important;
}
#ThirdColumn{
    float:left;
    width:30% !important;
}

.RepeatsLabel{
    padding-top: 35px !important;
    width:20% !important;
}


.RepeatsEveryLabel{
    padding-top: 20px !important;
    width:20% !important;
}

#oneThird{
    width:30% !important;
}

#twoThird{
    width:60% !important;
}

#threeThird{
    width:90% !important;
}

.RepeatMessageStyle{
    font-weight:bold;
    font-size:16px;
}

.Width400px{
    width:202px !important;
}


.LabelTextStyle{
    color: #D5D5D5 !important;
    font-size: 13px;
    /*font-family: Roboto, sans-serif;*/

}

.LabelTextStyle .ShowBuildingLabel{
    /*margin-top:20px;*/
}

.LabelTextStyle .ShowEquipmentLabel{
    /*margin-top:20px;*/
}

.LabelTextStyle .ShowTaskLabel{
    /*margin-top:20px;*/
}

.LabelForSelect{
    color: #D5D5D5 !important;
    font-size: 13px;
    /*font-family: Roboto, sans-serif;*/

    margin-top:20px;
    margin-bottom: 10px;
}


/*   Tag Style CSS  */
.button.primary {
    background: #2086bf;
    color: #ffffff;
    border-color: #2086bf;
}
.button.primary:active {
    background: #1b6eae;
    color: #ffffff;
}

.Schedule_Priority{

    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.7px;
    padding: 3px;
    border-radius: 5px;
}
.Urgent{
    background: #ce352c none repeat scroll 0 0;
    border: 1px solid #ce352c;
    color: #ffffff;
}

.High{
    background: #fa6800 none repeat scroll 0 0;
    border: 1px solid #fa6800;
    color: #ffffff;
}

.Medium{
    background: #009CB5 none repeat scroll 0 0;
    border: 1px solid #009CB5;
    color: #ffffff;
}

.Low{
    background: #246331 none repeat scroll 0 0;
    border: 1px solid #246331;
    color: #ffffff;
}

.VeryLow{
    background: #8340DC none repeat scroll 0 0;
    border: 1px solid #8340DC;
    color: #ffffff;
}

.mytable_inbox tr td:first-child { width: 5% !important; }
.SortIcon_Overview_Lists th td:nth-child(2){
    width:6% !important;
}

.XYZ{
    width: 20px !important;
    padding-left: 0px !important;
    padding-right: 5px !important;
}

.XYZ div img{
    opacity: 1 !important;
}

.XYZ div img{
    padding-left: 10px;
    padding-right: 10px;
}

.XYZ img{
    cursor: pointer;
}

.FlatBtnRight{
    float: right;
}

.PriorityLabel{
    color: rgba(0, 0, 0, 0.5);

    font-size: 12px;
    margin-bottom: -24px;
    margin-top: 20px;
}

.TaskOwnerLabel{
    color: rgba(0, 0, 0, 0.5);

    font-size: 12px;
    margin-bottom: 0;
    margin-top: 20px;
}

.NotifyPersonLabel{
    color: rgba(0, 0, 0, 0.5);
    /*font-family: Roboto,sans-serif;*/

    font-size: 12px;
    margin-bottom: -5px;
    margin-top: 45px;
}

.ScheduleDateLabel{
    color: rgba(0, 0, 0, 0.5);

    font-size: 12px;
    margin-bottom: -5px;
    margin-top: 10px;
}

.LocationIDLabel{
    color: rgba(0, 0, 0, 0.5);

    font-size: 12px;
    margin-bottom: -22px;
    margin-top: 20px;
}

.RepeatsLabel2{
    color: rgba(0, 0, 0, 0.5);

    font-size: 12px;
    margin-bottom: -20px;
    margin-top: 30px;
}

.RepeatsEveryLabel2{
    color: rgba(0, 0, 0, 0.5);

    font-size: 12px;
    margin-top: 12px;
}

.RepeatsEveryMsg{
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
}



.SummaryAddSchedule{
    clear: left;
    margin-bottom: 0;
    margin-top: 35px;
    color: rgba(0, 0, 0, 0.5);

    font-size: 15px;
    line-height: 40px;
}

div.TimeText span{
    font-size: 15px;
    font-weight:bold;
}

.ChecKick > div > div > div {
    margin-left: 7px !important;
}
.trhandbar tr td{
    cursor: pointer !important;
}


/*BuildingListTable Area {Start}*/


.BuildingListTable{
    width: 100%;
    clear: both;
}

.BuildingListTable tr{
    border-bottom: 1px solid #e0e0e0;
    cursor: auto !important;
}


.BuildingListTable tr th{
    font-weight: bold;
    text-align: left;
    padding: 5px 10px 5px 10px;
    vertical-align: middle;
}

.BuildingListTable tr th:first-child{
// width:50%;
}

.BuildingListTable .formDirectory tr th:first-child{
    width: 50%;
}


.BuildingListTable tr td{
    color: #929292 !important;
    padding: 5px 10px 5px 10px;
}

.BuildingListTable tr td:first-child{
//width:50% !important;
}

.BuildingListTable tr td:last-child {
    padding: 5px 10px 5px 10px;
}

.BuildingListTable thead tr {
    background: #FFF !important;
}

.BuildingListTable tbody {
    max-height: 600px !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

.BuildingListTable .formDirectory tr td:first-child{
    width: 60% !important;
}

/*BuildingListTable Area {End}*/

/*Newly Added */

.table_borderMapping{
    border: 1px solid #e0e0e0;
    margin-top: 10px;
}

/*

div table thead tr th:first-child {
    padding: 5px 10px 5px 10px;
}

div table thead tr th {
    padding: 5px 10px 5px 10px;
}

div table tbody tr td {
    padding: 5px 10px 5px 10px;
}

*/

div#FirstColumn > div:nth-Child(1) {
    width: 47% !important;
}

.alignRight{
    text-align: right !important;
}

/*
.half_width{
    width: 50% !important;
}
*/

.icon_col{
    text-align: right;
    padding: 3px !important;.
}

.icon_area{
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.icon_col_left{
    padding: 0px 0px 0px 10px !important;
    width: 3%;
}

.icon_area_left{
    cursor: pointer;
    width: 12px;
}

.task_popup_area{
    margin-top: 0;
    margin-bottom: 30px;
    width: 710px;
    height: 390px !important;
    min-height: 230px;
}

/*Newly Added */

.pointerCursor{
    cursor: pointer;
}

.notificationList{
    width: 100%;
}

.notificationList tbody {
    max-height: 600px !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

.notificationList thead tr {
    background: #FFF !important;
}
.notificationList tr{
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer !important;
}

.notificationList tr th{
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    padding: 5px 10px 5px 10px;
}

.notificationList tr td{
    color: #929292 !important;
    padding: 5px 10px 5px 10px;
}

.notificationList tr td:last-child {
    padding: 0px 10px 0px 0px;
}


/* Status Button in Notification Table */
/*

     Received
     Dispatched
     Completed
     Canceled
     Forwarded

*/

.btnStatus{
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    margin: 5px;
    padding:5px;
    text-align: center;
}

.btnReceived {
    background: #FFA500;
}

.btnDispatched{
    background: rgb(41, 186, 3) none repeat scroll 0 0;
}


.btnForwarded{
    background: rgb(0, 67, 186) none repeat scroll 0 0;
}

.btnCompleted{
    background: rgb(0, 41, 186) none repeat scroll 0 0;
}

.btnCanceled{
    background: rgb(186, 0, 1) none repeat scroll 0 0;
}

.user-full-name{
    float: right;
    padding: 1% 2% 0 0;
}

/*Company List CSS START*/

.companyList th {
    width: 13%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.companyList td{
}

.Select-placeholder{
    /*padding-left: 0px !important;*/
}

.Select-value{
    /*padding-left: 0px !important;*/
}

.FormContainer{
    margin: 0 auto;
    width:800px;
}
/*Company List CSS END*/

ul.CheckBoxListUL{
    clear: both;
    padding-top: 20px;
}

li.CheckBoxListLI {
    float: left;
    width: 235px;
    list-style: none;
}

li.CheckBoxListLI div {
    float: left;
    width: 30px !important;
}

li.CheckBoxListLI span {
    line-height: 2;
}

.forwardSelect>div{
    margin: 10px auto !important;
}

/* Appending Bootstrap buttons styles */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}
.btn-sm,
.btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.pull-right {
    float: right !important;
}




/* Form-CSS*/
.form-area{
    padding: 0px;
    width: 650px;
    margin: 0 auto;
}
.lbl-title {
    font-weight: 500;
    font-size: 20px !important;
    border-bottom: 2px solid #757575;
}
.lbl-title,.lbl-title-sub {
    text-align: center;
    margin: 0 auto;
    width: 250px;
    line-height: 30px;
    display: block;
}

.lbl-title-sub{
    font-size: 17px !important;
    font-weight: bold;
}

.ap-form {
    margin: 8px 0;
    padding:0;
}
.lbl-title, .ap-form label {
    line-height: 30px;
    display: block;
    font-size: 14px;
}
.ap-form select{
    width:100% !important;
    color: #757575;
    line-height: 30px;
}
.ap-form input, .ap-form label, .ap-form textarea{
    line-height: 30px;
    padding: 0 5px;
    width: calc(100% - 10px);
}
.ap-form{
    border-bottom: 1px solid #cccccc;
}
#divFooter input[type='button'],
.saveButton input[type='button']{
    padding: 10px 14px;
    cursor: pointer;
}
#divFooter input[type='button']{
    float: right;
}
/*input.RemoveItems,*/
/*input#AddItems_Repeater_1 {*/
/*width: 100px;*/
/*float: right;*/
/*margin-left: 20px;*/
/*padding: 10px 6px;*/
/*cursor: pointer;*/
/*}*/

p input[type='button'] {
    width: 100px;
    float: right;
    margin-left: 20px;
    padding: 10px 6px;
    cursor: pointer;
}



.button-radio,.button-check {
    width: 26px !important;
    height: 15px;
    float: left;
    margin: 5px 0;
}
.button-radio {
    -webkit-appearance: radio !important;
-moz-appearance: radio !important;
}
.button-check {
    -webkit-appearance: checkbox !important;
   -moz-appearance: checkbox !important;
}
.margin-top {
    margin-top: 54px;
}

.margin-top15{
    margin-top: 15px;
}

#divFooter {
    clear: both;
    overflow: hidden;
    float: left;
    padding: 0;
}
input#btnSave {
    padding: 10px 30px !important;
    font-size: 15px;
}
#detailsItems_Repeater_1:first-child .item {
    padding-top: 35px;
}


.table-view {
    display: flex;
}

.table-view > div{
    flex-grow: 1;
}

.lbl-title-sub {
    clear: both;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    width: auto;
}

p input[type="button"] {
    margin-left: 0;
}

.item {
    position: relative;
}

.item .RemoveItems {
    position: absolute;
    left: 100%;
    bottom: 8px;
}

#AddItems_Repeater_1,#AddItems_Repeater_2,#AddItems_Repeater_3, .AddItems {
    margin-right: -100px;
}

.lbl-line-item { display: none !important;}
.item:nth-child(1) .lbl-line-item { display: block !important;}


div.duration-radio {
    clear: both;
    height: 30px;
    margin-top: 15px;
}

div.duration-radio label {
    float: left;
    width: 25%;
}

div.cea-type-check {
    clear: both;
    height: 30px;
    margin-top: 15px;
}

input#CEAType {
    padding: 0;
    width: 15px !important;
    margin-left: 15px;
}

div.cea-type-check label {
    float: left;
    width: 11%;
}

div.tendered-radio {
    clear: both;
    height: 30px;
}

div.tendered-radio label {
    float: left;
    width: 25%;
}


.margin-bottom50 {
    margin-bottom: 15px;
}


label.lblProjYear { float: left; width: 40px;}
input#txtProjNo { width: 590px; }




div.PYB {
    overflow-x: scroll;
}

div.PYB div.item {
    width: 1800px;
}

div.PYB label {
    text-align: center;
}

div.PYB p input#AddItems_Repeater_3 {
    display: none;
}

div.PYB p input.RemoveItems {
    display: none;
}




.tableBuildingOuterDiv {
    width: 1170px;
    margin: 0 auto;
}

.BuildingArea {
    width: 1170px;
    overflow-x: scroll;
}

.BuildingArea thead th {
    background-color: #33638d;
    color: #ffffff;
    line-height: 25px;
}
.saveButton input[type='button']{
    margin: 5px 0px;
}
.form-area p {
    font-size: 14px;
    line-height: 34px;
}
.tableBuildingOuterDiv .form-area {
    padding: 25px 0;
}

.cusLbl {
    clear: both;
    margin-bottom: -15px;
    margin-top: 10px;
    height: 35px;
}

.CusMarginLessDdl {
    margin: 0 auto !important;
    margin-bottom: 10px !important;
}

.lblTitleSub {
    margin-top: 0px !important;
    margin-bottom: 5px;
}

.BuildingArea {
    width: 1200px;
    overflow-x: scroll;
    margin: 0 auto;
}


.budget {
    clear: both;
    overflow: hidden;
}
.budget h2 {
    margin-bottom: 50px;
}

.budget input[type='button']{
    padding: 8px 20px;
    box-shadow: 0px 2px 5px 1px #ccc;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.budget input.fileUploadButton {
    margin-top: 0px;
}
.budget span {
    line-height: 30px;
    padding-left: 10px;
    font-size: 12px;
}

.MenuHide{
    display: none !important;
}

#CheckBoxContainer_Committed input:nth-child(5) { display: none;}